@tailwind base;
@tailwind components;
@tailwind utilities;

div, section, form {
  caret-color: transparent; 
}

input, textarea {
  caret-color: black; 
}

[contenteditable="true"] {
  caret-color: transparent; 
}

.ppill-logo {
  width: 26px;
  height: 26px;
}